
@{
    Page.Title = "Features";
}

<section id="main">
    <h1><b> What About it ??</b></h1>
    <p> Everyone likes to keep themselves busy most of the time.
        But, there would be instances where a person is left idle.
        This joblessness makes a person much bored. What if there is an application,
        where a person can search for work- either to pass time or make money instantly during the spare time.</p>
    <p>
        Our project intends to be a resource for them, where a user can make an online search of activities which he/she would be interested in,
         to make a wise utilization of free time. Often people are interested in doing many activities but they don’t have proper
        idea regarding when and where to attend them. Our application provides a platform for them by listing them all the available activities. 
        There is choice to choose from a wide-range of activities locally or per-preference
   </p> 
</section>



