@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Account Locked";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error"> Psst!! You cannot Login anymore.This is several times already!!.</h2>
</hgroup>

<p>
    Worry not!!  Please wait for sixty! seconds for your account to be unlocked. 
     As time passes, you may try again!! 
</p>